In [1]:
n = int(input('enter t he number '))
for i in range (0,n):
    print('*' * i)

enter t he number 20

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************

In [5]:
import pandas as pd
import numpy as np
d = {'telangana':123,'seoul':23,'india':121,'london':24,'sanfransisco':300}
s = pd.Series(d)
s['telangana'] = 500
s[s<100] = 750
print(s/400)
print(np.square(s))
s.isnull()

telangana       1.2500
seoul           1.8750
india           0.3025
london          1.8750
sanfransisco    0.7500
dtype: float64
telangana       250000
seoul           562500
india            14641
london          562500
sanfransisco     90000
dtype: int64

telangana       False
seoul           False
india           False
london          False
sanfransisco    False
dtype: bool

In [2]:
import pandas as pd
data = {'students':['uday','samyu','ajay','amma','rama'],'maths':[90,56,98,78,34],'science':[98,99,97,96,90],'sports':['cricket','badminton','chess','hockey','football']}
data.keys()
s = pd.DataFrame(data,columns = data.keys(),
                 index = ['a','b','c','d','e'])
s

  students  maths  science     sports
a     uday     90       98    cricket
b    samyu     56       99  badminton
c     ajay     98       97      chess
d     amma     78       96     hockey
e     rama     34       90   football

In [15]:
import pandas as pd
import  sys
data = {'students':['uday','samyu','ajay','amma','rama'],'maths':[90,56,98,78,34],'science':[98,99,97,96,90],'sports':['cricket','badminton','chess','hockey','football']}
data.keys()
s = pd.DataFrame(data,columns = data.keys())
s

  students  maths  science     sports
0     uday     90       98    cricket
1    samyu     56       99  badminton
2     ajay     98       97      chess
3     amma     78       96     hockey
4     rama     34       90   football

In [18]:
import pandas as pd
import  sys
k = pd.read_csv('uk1.csv','r')
k.read()

FileNotFoundError: File b'uk1.csv' does not exist